* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1e2f;
  color: #fff;
  line-height: 1.6;
}


nav {
  
  background-color: #111;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  
  background-color: #2a2a3d;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h1, h2 {
  color: #2c3e50;
}

footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #1e1e2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

